#main-nav {
    box-shadow: 0 2px 6px #333;
}
#main-nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    color: #fff;
    z-index:10;
    -moz-box-shadow: 0 2px 6px #333;
    -webkit-box-shadow: 0 2px 6px #333;
    box-shadow: 0 2px 6px #333;
    transition: all 0.5s;
    display: inline;
}
#service{
    background-color: grey;
    color: black;
}


#footer{
    margin: 0;
}

.footer-heading a {
    display: inline;
}
.footer-heading li {
    display: block;
}
#map{
    width: 100%;
}

.form-control{
    height: 40px;
}

.nav-pills {
    text-align:center;
}

.nav-pills>li{
    float: none;
    display: inline-block;
    zoom: 1;
    font-size: 20px;
    width: 120px;
}

.tab-pane{
    text-align: center;
    padding: 30px;
}

.court-list{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.court-list>li{
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}

.center-text{ text-align: center; }


.testimonials{
    padding: 40px 0;
    font-family: 'Raleway';
    background-color: #01b1d7;
    background: -webkit-linear-gradient(top,#01b1d7, #99dfef);
    color: #fff;
}

.courts>h1, .testimonials>h1, .recommendation>h1{
    padding-bottom: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.recommendation{
    padding: 40px 0;
    font-family: 'Raleway';
}

figure.snip {
    /*position: relative;*/
    display: inline-block;
    /*overflow: hidden;*/
    padding: 10px;
    width: 100%;
    color: #000000;
    text-align: center;
    font-size: 16px;
    padding: 30px;

}
figure.snip *,
figure.snip *:before,
figure.snip *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
figure.snip figcaption {
    width: 100%;
}
figure.snip h2,
figure.snip h4,
figure.snip blockquote {
    margin: 0;
}
figure.snip h2,
figure.snip h4 {
    font-weight: 300;
}
figure.snip h2 {
    color: #ffffff;
    font-weight: 600;
}
figure.snip h4 {
    color: #333;
}
figure.snip blockquote {
    font-size: 1em;
    padding: 45px 20px 40px 50px;
    max-width: 400px;
    margin: 30px auto 0;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;
    border: none;
}
figure.snip blockquote:before {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 70px;
    opacity: 0.25;
    font-style: normal;
    top: 0px;
    left: 20px;
}
figure.snip .profile {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: solid 5px white;
}


.nav-pills>li{
    text-transform: capitalize;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
    background-color: #01b1d7;
    font-size: 18px;
    padding: 10px;
}
/*.nav>li>a:focus, .nav>li>a:hover
{
width: 60%;
}*/

.carousel{
    top: -135px;
}

@media screen and (max-width: 768px){
    .carousel{
        top: -82px;
    }
}

.carousel .item{
    height: 100vh;
    max-height: auto;
}

.carousel .item>img{
    height: 100vh;
    min-width: 100%;
}

.rec-arrow{
    position: absolute;
    background-image: url('../img/right-arrow-button.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    top: 50%;
}

.rec-arrow.left{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    left: -20px;
}

.rec-arrow.right{
    right: -20px;
}
.rec-wrapper{
    background-color: #01b1d7;
    display: inline-flex;
    position: relative;
    justify-content: center;
}

@media screen and (max-width: 768px ){
    .rec-wrapper{
        flex-flow: column;
    }
}

.recent-post{
    padding: 10px;
}

.post-heading{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.post-content{
    font-size: 16px;
    padding: 10px;
    min-height: 90px;
}


.error {
background-color: #01b1d7;
color: #fff;
font-size: 100%;
line-height: 1.5;
/*font-family: "Roboto", sans-serif;*/
font-family: 'Raleway', sans-serif;
padding: 30px 0px;
}

.error p {
font-size: 2em;
text-align: center;
font-weight: 100;
}

.error h1 {
text-align: center;
font-size: 15em;
font-weight: 100;
}

.error-button {
margin-left: 500px;
font-weight: 300;
color: #fff;
font-size: 1.2em;
text-decoration: none;
border: 1px solid #efefef;
padding: .5em;
border-radius: 3px;
float: left;
/*margin: 6em 0 0 -155px;*/
margin: 30px 0 0 -120px;
left: 50%;
position: relative;
transition: all .3s linear;
}

.error-button:hover {
background-color: #01b1d7;
color: #fff;
}