@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');


html{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

* {
	margin: 0px;
	padding: 0px;
}

body{ 
	color: #333;
	margin: 0px;
	padding: 0px;
	overflow-x:hidden;
	font-family: "Didact Gothic";
}

.main {
	width: 100%;
	background: url('../img/bg.jpg');
	background-size: cover;
	padding: 170px 0px;
	text-align: center;
}

.main h1 {
	font-family: 'Pathway Gothic One';
	font-size: 80px;
	letter-spacing: 2px;
	color: white;
}

.main p {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	font-size: 13px;
}

nav {
	background: transparent;
	position: absolute;
	top:20px;
	right: 40px;
}

nav ul, nav li {
  display: inline-block;
}

nav ul li a {
    color: #fff;
    display: inline;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: padding .5s linear;
}

nav li {
	margin: 0px 10px;
}

.content .box {
	padding: 140px;

}

.content .box {
	float: right;
}

.content .box .line {
	width: 100px;
	height: 1.5px;
	margin-top: -40px;
	background: #2c4058;
}

.content .box h1{
	font-family: 'Pathway Gothic One';
	font-size: 60px ;
	color: #2c4058;
	font-weight: bold;
	text-transform: uppercase;
}


.content .box p {
	font-size: 20px;
	margin-top: 20px;
	line-height: 150%;
}

.textcenter
{
	text-align: center;
}
